:root {
    --heading-color: rgb(3, 231, 231);
    --background-color: rgb(0, 0, 0);
    --text-color: white;
    --body-color: rgb(53,52,52);
    --content-font: sans-serif;
    --margin: 20px;
    --snip-color1: #009aa5;
    --snip-color2: #274a85;
}

/*Basic Formatting*/
h1 {
    text-align: center;
    color: var(--heading-color);
    background-color: var(--background-color); 
    font-size:36px;
    padding: 10px;
}

h2 {
    text-align: center;
    color: var(--heading-color);
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
}

body {
    background-color: var(--body-color);
    font-family: var(--content-font);
}

p {
    color: var(--text-color);
    font-family: var(--content-font);
    text-align: center;
    font-size: 16px;
}


/*Flex container for the page*/
.wrapper {
    display: flex;
    width: 100%;
    margin: var(--margin);
    flex-flow: row wrap;
}

/*Card containing title, description, and code snippet*/
.card {
    color: var(--heading-color);
    background-color: var(--background-color);
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 25%;
    margin: var(--margin);
    border: 2px dashed;
    padding: 10px;
}

/*Description of code in card*/
.card p{
    font-size: 12px;
}

/*Code snippet in card can be selected on click and has a gradient background*/
.code {
    user-select: all;
    background: linear-gradient(var(--snip-color1), var(--snip-color2));
    font-style: oblique 10deg;
    font-family: var(--content-font);
    color: var(--text-color);
    padding: 10px;
    font-size: 12px;
    flex: 1 0 0;
}

/*Tablet*/
@media screen and (max-width: 992px) {
    .card {
        width: 50%;
    }
}

/*Mobile Device*/
@media screen and (max-width: 768px){
    .card {
        width: 100%;
        flex: 1 0 0;
    }
}