:root{
    --heading-color: rgb(3, 231, 231);
    --background-color: rgb(0, 0, 0);

}

h1{
    text-align: center;
    color: var(--heading-color);
    background-color: var(--background-color);
}
.wrapper{

}

/*box containing title, description, and code snippet*/
.card{

}

/*code in card*/
.code{

}

.tab{
    margin-left: 10px;
    /*fix the line break before p class tab stuff*/
}

/*Desktop*/
@media screen and (max-width: 992px) {
    .wrapper {
        width: 33%;
    }
}
/*Tablet*/
@media screen and (max-width: 768px){
    .wrapper {
        width: 50%;
    }
}

/*Mobile Device*/
@media screen and (max-width: 768px){
    .wrapper {
        width: 100%;
    }
}
