:root{
    --heading-color: rgb(3, 231, 231);
    --background-color: rgb(0, 0, 0);

}

h1{
    text-align: center;
    color: var(--heading-color);
    background-color: var(--background-color);
}
.wrapper{

}

/*box containing title, description, and code snippet*/
.card{

}

/*description of the CSS property*/
.desc{

}
/*code in card*/
.code{
    user-select: all;
}

/*Tablet*/
@media screen and (max-width: 992px){


}

/*Mobile Device*/
@media screen and (max-width: 768px){

}