:root{
    --heading-color: rgb(3, 231, 231);
    --background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: var(--heading-color);
    background-color: var(--background-color);
}
.wrapper{
    display: flex;
    width: 100%;
    height: 300px;
    margin: 10px;
    flex-flow: row wrap;
}
/*box containing title, description, and code snippet*/
.card{
    display: flex;
    flex-basis: 25%;
    margin: 20px 0 20px 40px;
    border: 2px dashed;
    padding: 10px;
}


/*description of code in card*/
.desc{
    font-size: 12px;
    font-family: sans-serif;    
}

/*code in card*/
.code{
    user-select: all;
    font-style: italic;
    font-family: serif;
    background-color: darkcyan;
    color: white;
    padding: 10px;
    font-size: 12px;
}

.tab{
    margin-left: 10px;
    /*fix the line break before p class tab stuff*/
}

/*Tablet*/
@media screen and (max-width: 992px) {
    .card {
        width: 50%;
    }
}

/*Mobile Device*/
@media screen and (max-width: 768px){
    .card {
        width: 100%;
        flex: 1 0 0;
    }
}